.content {
  margin: auto;
  padding: 20px;
  background: lightGray;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
table {
  margin: auto;
  background: #B0C4DE;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 3px 3px rgba(0, 0, 0, 0.05);
}
